html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

:root {
  --accent-color: #f7654a;
  --grey-color: #999999;
  --dark-color: #404149;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
}

.text-h2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.text-p-reviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* Header */
.header {
  min-height: 740px;
  background-image: url("../img/first-screen-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_title {
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 113px;
}
.logo {
  height: 60px;
  width: 60px;
}
.burger {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger_line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}
.burger_line:last-child {
  margin-bottom: 0;
}

.h1 {
  font-weight: 500;
  font-size: 64px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  max-width: 742px;
  margin: 0 auto;
  color: var(--white-color);
  margin-bottom: 19px;
}
.h4 {
  max-width: 734px;
  text-align: center;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  text-transform: uppercase;
}

/* About */

.about {
  min-height: 1080px;
  position: relative;
  padding-top: 251px;
}

.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%);
  background-color: #f7f7f7;
  max-width: 1110px;
  width: 100%;
  min-height: 300px;
  padding: 57px 130px;
}
.about_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
.about_grid-item {
  text-align: center;
  width: 190px;
}
.about_h4 {
  font-size: 72px;
  font-weight: 500;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.about_h5 {
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.about_p {
  font-size: 18px;
  font-weight: 500;
  color: var(--grey-color);
}

/* About- Projects */

.project-h2 {
  text-align: center;
  margin-bottom: 49px;
}
.about_flex {
  display: flex;
}
.about_flex-item {
  max-width: 350px;
  margin-right: 30px;
}
.about_flex-item:last-child {
  margin-right: 0px;
}
.project-img {
  margin-bottom: 45px;
}
.rectangle {
  width: 55px;
  height: 6px;
  background-color: var(--accent-color);
  margin-bottom: 15px;
}

.project-h3 {
  margin-bottom: 14px;
  color: var(--dark-color);
}

.project-p {
  color: var(--grey-color);
}

/* Clever */

.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 40px;
}
.request_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request_flex-left {
  color: var(--white-color);
}
.request_h4 {
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.request_h5 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.request_btn {
  border: none;
  background-color: var(--white-color);
  color: #000000;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 14px 30px;
  margin-top: 23px;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}
.request_icon {
  margin-right: 15px;
}

/* Services */

.services {
  padding: 150px 0;
}

.section_h2,
.services_h4 {
  color: #000000;
  text-align: center;
}
.section_h2 {
  margin-bottom: 51px;
}

.services_h4 {
  margin: 0 auto;
  max-width: 172px;
  text-transform: uppercase;
}

.services_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 29px;
  justify-items: center;
}
.services_grid-item {
  background-color: #f7f7f7;
  padding: 59px 0;
  width: 350px;
}
.services_icon {
  margin: 0 auto 26px;
}

/* Porfolio */

.portfolio {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 0;
}

/* Question */

.question {
  padding-top: 146px;
  padding-bottom: 110px;
}

.question .section_h2 {
  margin-bottom: 50px;
}

.question_h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 21px;
}

.question_h3.close {
  margin-bottom: 33px;
}

.question_p {
  margin-bottom: 37px;
  color: var(--grey-color);
  max-width: 730px;
}

.question_h3.open::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/arrow_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
  transform: rotate(-90deg);
}

.question_h3.close::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/arrow_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}

.question_h3.close + .question_p {
  display: none;
}

.question_h3.open + .question_p {
  display: block;
}

/* Partners */
.partners {
  padding-top: 100px;
  padding-bottom: 95px;
  background-color: var(--dark-color);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.partners_h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 52px;
}
.partenrs_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partners_item {
  margin-right: 50px;
}

.partners_item:nth-child(5n) {
  margin-right: 0;
}

/* REviews */

.reviews {
  padding-top: 150px;
  padding-bottom: 143px;
}

.reviews_h2 {
  text-align: center;
  padding-bottom: 60px;
}
.reviews_grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.reviews_card {
  background-color: #f7f7f7;
  padding: 0 30px;
  margin-bottom: 66px;
}
.reviews_quotes {
  color: var(--accent-color);
  font-size: 96px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  max-height: 80px;
}

.revies-h4 {
  color: #000000;
}
.reviews_author-accent {
  color: var(--accent-color);
}
/* Contacts */
.contacts {
  padding-top: 100px;
  padding-bottom: 132px;
}

.contacts_h2 {
  margin-bottom: 60px;
  text-align: center;
}
.contacts_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.contacts_item {
  text-align: center;
}
.contacts_icon {
  margin: 0 auto;
  padding-bottom: 12px;
}
.contacts_icon:last-child {
  padding-bottom: 25px;
}

.contacts_h3 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.contacts_h3-gray {
  color: var(--grey-color);
}
.contacts_h3-accent {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.footer_flex {
  min-height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mewiaquery */

@media screen and (max-width: 1280px) {
  .about_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .about {
    padding: 500px 15px 110px 15px;
  }

  .request {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services {
    padding: 0 15px;
  }
  .services_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .services_grid-item {
    width: 100%;
  }

  .portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .portfolio_grid {
    padding: 0 15px;
  }

  .question {
    padding: 150px 15px;
  }

  .partenrs_flex {
    justify-content: center;
  }
  .partners_item {
    margin-right: 10px;
    margin-left: 10px;
  }
  .partners_item:nth-child(5n) {
    margin-right: 10px;
    margin-left: 10px;
  }

  .reviews {
    padding: 100px 15px;
  }
  .reviews_grid {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .contacts_item {
    max-width: 100%;
  }
  .contacts_grid {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  .sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
  .sidenav > a {
    padding: 0 16px;
  }
  .sidenav .user-view {
    padding: 16px 16px 0;
  }
}


@media screen and (max-width: 768px) {
  .about_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .info {
    position: relative;
    padding: 0 30px;
  }

  .h1 {
    font-size: 36px;
  }

  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .about_flex {
    flex-direction: column;
    align-items: center;
  }

  .about_flex-item {
    margin-right: 0px;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .about_flex-item:last-child {
    margin-bottom: 0px;
  }
  .project-img {
    width: 100%;
    height: auto;
  }

  .request_flex {
    flex-wrap: wrap;
  }

  .services {
    padding: 0 15px;
  }
  .services_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio_grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .portfolio_grid {
    padding: 0 15px;
  }

  .reviews_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts_grid {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_flex {
    flex-direction: column;
  }
}


/* -------------------- */
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}


.sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  left: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sidenav .collapsible {
  margin: 0;
}

.sidenav li {
  float: none;
  line-height: 48px;
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
  color: #fff;
}

.sidenav li > a.btn-flat {
  color: #343434;
}

.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
  margin: 8px 0 0 0;
}

.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.sidenav .subheader:hover {
  background-color: transparent;
}

.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.sidenav .user-view > a {
  height: auto;
  padding: 0;
}

.sidenav .user-view > a:hover {
  background-color: transparent;
}

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}
.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}



.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
.dropdown-content li.divider {
  min-height: 0;
  height: 1px;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
